https://github.com/tinyos/tinyos-main
https://github.com/thinnect/tos-groundlib
https://github.com/thinnect/tos-platforms
https://github.com/thinnect/tos-watchdogs
https://github.com/thinnect/tos-persistentaddress
